@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
* {
  font-family: 'Roboto', sans-serif;
}
.App {
  max-width: 1200px;
  margin: 0 auto;
}
.App-container {
  padding: 15px;
}
.Header {
  padding: 40px 0px;
  position: relative;

}
.Header-headline
.Header-content {
  max-width: 750px;
  padding-right: 300px
}
.Header-content p   {
  opacity: 0.7;
}
.Header-content-about {
  font-style: italic;
  padding-right: 220px;
}
.Header-image {
  position: absolute;
  max-height: 200px;
  right: 40px;
  top: 60px;
  transform: rotate(-6deg);
  box-shadow: 8px 8px 8px 8px;
}
.Content-section {
  display: flex;
  margin: 15px;
  min-height: 70px;
}
.Content-section-title {
  border-right: 1px solid;
  width: 15%;
  text-align: right;
  font-weight: 400;
}
.Content-section-title,
.Content-section-info {
  padding: 5px 20px;
  color: #666;
}
.Content-section-info {
  width: 80%;
}
.Content-section-headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Content-section-list {
  padding: 30px;
  list-style: disc;
}
.Content-section-subtitle {
  opacity: 0.6;
}

.Content-section-info-bold {
  font-weight: 900;
}


.Footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Footer a {
  padding: 20px;
  background: #2d2d2d;
  border-radius: 100%;
  margin: 10px 20px;
  font-size: 22px;
}
.Footer a span {
  color: #
}
